<div class="row">
  <%= form_tag("/queries/search", method: "POST", :class => "col s10 offset-s2") do %>
  <h1>Social Networks keyword search</h1>
    <!-- KEYWORD -->
    <h3>Search for</h3>
    <div class="row">
      <div class="input-field col s8">
        <%= label_tag(:keyword, "Keyword") %>
        <%= text_field_tag(:keyword, nil,{:class => "validate", :required=>"required"}) %>
      </div>
    </div>
    <!-- FONTES -->
    <h3>Sources</h3>
    <% @sources.each do |src| %>
        <%= check_box_tag(src.name, src.name, true, :class => "filled-in") %>
        <%= label_tag(src.name, src.name, :class => "sources") %>
    <% end %>
    <!-- TAGS -->
    <h3>TAGS</h3>
    <div class="row">
      <div class="input-field col s8">
        <%= label_tag(:tag1, "TAG 1") %>
        <%= text_field_tag(:tag1) %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <%= label_tag(:tag2, "TAG 2") %>
        <%= text_field_tag(:tag2) %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <%= label_tag(:tag3, "TAG 3") %>
        <%= text_field_tag(:tag3) %>
      </div>
    </div>
    <%= button_tag(type: "submit", class: "btn waves-effect waves-light") do %>
      Search <i class="mdi-content-send right"></i>
    <% end %>
  <% end %>
</div>
