<!DOCTYPE html>
<html>
<head>
  <title>TAS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
</head>
<body>

<div class="content"> 
	<% flash.each do |name, msg| %>  
    	<p id="notice"><%= content_tag :div, msg, :id => "flash#{name}" %></p>  
	<% end %>	 

	<%= yield %>
</div>

</body>
</html>
